.homepageBox {
    background-color: royalblue;
    height: 70vh;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    font-size: 30px;
  }
.bannerBox {
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
}

